@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

:root{
    --cor0: rgba(0, 0, 0, 0.918);
    --botao-emergencia: #b31f1fa4;
    --botao-casa: rgba(0, 128, 0, 0.664);
    --cinza: #cdcdcdcc;
    --fonte-geral: 'Montserrat', sans-serif;
}

*{
    font-family: var(--fonte-geral);
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

