@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

:root{
    --cor0: rgba(0, 0, 0, 0.918);
    --fonte-geral: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--fonte-geral);
}

