.periferico--hora{
    width: 30%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    padding: 2% 0;  
    transition: .3s all ease-in-out; 
    cursor: pointer; 
}

.periferico--hora:hover{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}