@charset "UTF-8";

body{
    background-color: rgba(0, 0, 0, 0.918);
}

main{
    padding: 30px;
    max-width: 835px;
    min-width: 303px;
    margin: auto;
    margin-top: 50px;
}

section{
    width: 100%;
}

section div{
    display: inline-block;
}

a img{
    width: 100%;
}

div a{  
    display: inline-block;
    color: white;
    font-size: 1.1em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.caixaadaptativa{
    width: 23%;
    transition: .3s;
}

.caixaadaptativa:hover{
    width: 28%;
}

.caixaadaptativa > a:hover{
    font-size: 1.3em;
    text-shadow: 1px 1px 5px white;
}

.btnhora{
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 50px;
    align-items: center;
}

div#horario{
    float: left;
    border: solid 1px white;
    width: 35%;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    transition: .7s;
}

#horario:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.918);
}

#btnbluetooth{
    float: right;
    width: 55px;
}


#btnbluetooth img{
    width: 90%;
    transition: .3s;
}

#btnbluetooth img:hover{
    width: 100%;
    display: block;
    margin: auto;
}


@media (max-width: 500px){

    section{
        text-align: center;
    }

    main{
        padding: 0px;
        padding-top: 20%;
        padding-bottom: 50px;

    }
    
    .caixaadaptativa{
        width: 40%;        
        display: inline-block;
        margin-right: auto;
    }

    .caixaadaptativa:hover{
        width: 45%;
        transition: .3s;
    }

    .btnhora{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        border-bottom: 1px solid white;
        padding: 0px;
    }

    div#horario{
        width: 40%;
        font-size: 1.2em;
        border-radius: 10px;
        margin: 10px;
    }

    #btnbluetooth{
        width: 50px;
        height: 50px;
        padding-right: 20px;  
        padding-top: 15px;   
    }
}