.menu--link{
    color: #ffffff;
    display: inline-block;
    margin-bottom: 3%;
    transition: .3s all ease-in;
    text-align: center;
    width: 100%;
}

.menu--link:hover{
    font-weight: bold;
    transform: scale(1.1);
}