.menu--link{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    transition: .3s all ease-in;
    margin-bottom: 3%;
}

.menu--link:hover{
    transform: scale(1.1);
    font-weight: bold;
}