.principal{
    display: grid;
    height: 80vh;
    grid-template-areas:  
    "btn-panico"
    "btn-acompanhamento"
    "btn-assistencia"
    "btn-perifericos";
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    max-width: 800px;
    width: 100%;
    
}